<header class="actor-header flexrow" style="flex: 0; margin-bottom: 8px">

    {{> "tfm.actor-portrait"}}

    <div class="identity">

        <div class="flexrow">
            <input class="name" name="name" type="text" value="{{name}}" placeholder="Name" />
            <div class="exp">

                <div class="counter flexrow">
                    <div class="flexrow" style="flex: 2;">
                        <input type="number" name="system.lvl.xp" value="{{level.xp}}">
                        <div style="margin-left: 4px;">/ {{level.xpToNext}}</div>
                    </div>
                    <div style="font-size: 18px; font-weight: bold; flex: 0;"> Lvl.{{level.value}} </div>
                </div>
                <div class="xp-bar">
                    <div style="width: {{level.progress}}%;"></div>
                </div>

            </div>

        </div>
        <input name="system.job" type="text" value="{{system.job}}" placeholder="{{localize 'TFM.generic.job'}}" />

        {{> "tfm.actor-abilities"}}
    </div>

</header>