<div style="flex: 0; margin-right: 10px;">
    <img class="profile-img" src="{{document.img}}" data-action="editImage" title="{{name}}" height="100" width="100" />
    <div class="healthbar">
        <div class="bar" style="width: {{health.percent}}%;"></div>
        <div class="value flexrow">
            <input type="number" name="system.hp.value" value="{{health.value}}" />
            <div>/</div>
            <input type="number" name="system.hp.max" value="{{health.max}}" />
        </div>
    </div>
</div>