<!-- List of actors ability scores and modifiers -->
<div class="flexrow ability-list" style="align-items: flex-start; flex-wrap: nowrap;">

    <!-- Damage resistance -->
    <div class="ability">
        <label class="label">{{localize 'TFM.attr.abbr.dr'}}</label>
        <div class="modifier">{{system.dr.value}}</div>
    </div>
    <!-- Dodge class -->
    <div class="ability">
        <label class="label">{{localize 'TFM.attr.abbr.dodge'}}</label>
        <div class="modifier">{{system.dodge.value}}</div>
    </div>


    {{#each abilities as |ability key|}}
    <div class="ability">
        <a class="label" data-action="rollAbility" data-ability="{{key}}">{{ability.abbr}}</a>

        <div class="modifier">{{numberFormat ability.mod decimals=0 sign=true}}</div>
        <input class="score" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}">

    </div>
    {{/each}}
</div>