<div class="{{tabs.spells.tabCssClass}}" data-group="primary" data-tab="spells">

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize 'TFM.spells'}}</div>
            <div class="item-formula">{{localize 'TFM.difficulty'}}</div>
            <div class="item-controls" style="margin: 0 6px">{{localize 'TFM.controls'}}</div>
        </li>

        {{#each itemTypes.spell as |spell key|}}
        <li class="item flexrow spell" data-item-uuid="{{spell.uuid}}">
            <div class="item-name" style="overflow: hidden;">
                <div class="item-image">
                    <a data-action="useItem" data-use="spell"><img src="{{spell.img}}" title="{{spell.name}}" width="30" height="30" /></a>
                </div>
                <h4 style="float: left; padding-left: 5px;">{{spell.name}}</h4>
            </div>

            <div class="casting-difficulty flexrow">
                <div class="item-cd item-prop">{{spell.system.cd}}</div>
                <div class="item-cs item-prop">{{spell.system.cs}}</div>
            </div>

            <div class="item-controls" style="whitespace: nowrap; flex: 0 1;">
                <a class="item-control item-edit" data-action="editItem" title="Edit Item">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" data-action="deleteItem" title="Delete Item">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>