<form class="tfm">

    <div class="form-field">
        <label>{{ localize 'TFM.dialog.ability' }}</label>
        <input name="ability" type="number" disabled value="{{mod}}" />
    </div>

    <div class="form-field">
        <label>{{localize item.type}} {{localize 'TYPES.Item.weapon'}}:</label>
        <input name="dice" type="text" disabled value="d12" />
    </div>

    <div class="form-field">
        <label>{{ localize 'TFM.prof.label' }}:</label>
        <input name="dual" type="text" disabled value="{{localize prof.label}}" />
    </div>

    {{#if (gt prof.level 0)}}
        <div class="form-field">
            <label>{{ localize 'TFM.critRange' }}</label>
            <input name="crit" type="number" disabled value="{{crit}}" />
        </div>
    {{/if}}

    {{> 'tfm.roll-options'}}

</form>