<div class="form-group flexrow" style="white-space: nowrap;">
    <label>Weapon Type:</label>
    {{{selectors.weaponType}}}
</div>

<div class="form-group flexrow" style="white-space: nowrap;">
    <label>Hands:</label>
    <input type="number" name="system.hands" value="{{system.hands}}" />
</div>

<div class="form-group flexrow">
    <label>Damage:</label>
    <input type="text" name="system.damage.formula" value="{{system.damage.formula}}" />

    {{{selectors.damageTypes}}}
    {{{selectors.ability}}}
</div>

<div class="form-group flexrow">
    <label>proficiency:</label>
    {{{selectors.proficiency}}}
</div>