<form class="{{cssClass}}" autocomplete="off">
    {{> "tfm.item-header"}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="settings">Settings</a>
    </nav>
    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="description">
            {{> 'tfm.item-description'}}
        </div>
        <div class="tab settings" data-group="primary" data-tab="settings">

            <div class="resource flexrow" style="white-space: nowrap;">
                <label>Weapon Type:</label>
                {{{selectors.weaponType}}}
            </div>

            <div class="resource flexrow" style="white-space: nowrap;">
                <label>Hands:</label>
                <input type="number" name="system.hands" value="{{system.hands}}"/>
            </div>

            <div class="resource flexrow">
                <label>Damage:</label>
                <input type="string" name="system.damage.formula" value="{{system.damage.formula}}" />

                {{{selectors.damageTypes}}}
                {{{selectors.ability}}}

            </div>
        </div>
    </section>
</form>